.options-page {
    padding: 20px;
}

.conf-form__group {
    margin-bottom: 30px;
}

.conf-form__field-group_flex {
    display: flex;
    align-items: center;
}

.conf-form__label {
    font-size: 16px;
    color: #1a1a1a;
}

.conf-form__field {
    display: block;
    width: 300px;
    margin-top: 10px;
    padding: 4px 8px;
    font-size: 14px;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    box-shadow: none;
}

.conf-form__field_in-flex {
    margin-top: 0;
    margin-left: 10px;
}

.conf-form__textarea-wrap {
    display: flex;
    align-items: flex-start;
}

.conf-form__textarea {
    display: block;
    width: 100%;
    max-width: 500px;
    height: 140px;
    margin-top: 10px;
    padding: 4px 8px;
    font-size: 14px;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    box-shadow: none;
    resize: vertical;
}

.template__vars-list {
    margin: 0 0 20px;
    padding: 0 0 0 12px;
    column-count: 2;
}

.conf-form__field:focus {
    border-color: #2364aa;
    outline: none;
}

.conf-form__group-title {
    margin-top: 0;
    margin-bottom: 14px;
    font-size: 18px;
}

.conf-form__radio,
.conf-form__checkbox {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
}

.conf-form__list-field-item {
    margin-bottom: 10px;
}

.conf-form__list-field-item:last-child {
    margin-bottom: 0;
}

.conf-form__save-btn {
    min-width: 200px;
    margin-top: 20px;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #0081af;
    color: #fff;
    border-radius: 8px;
    border: none;
    box-shadow: none;
    text-align: center;
}

.conf-form__save-btn:hover,
.conf-form__save-btn:focus {
    background-color: #2364aa;
    outline: none;
}

.conf-form__save-btn:active {
    background-color: #2345aa;
    outline: none;
}